body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #dc3545; */
}

/* * {
  border: 1px solid #dc3545;
} */

header {
  display: none;
  justify-content: space-between;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
}

.hidden {
  display: none;
}

.auth-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 42%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px 30px 20px 20px;
  border-radius: 10px;
  width: 20%;
}

.topic-modal__textarea {
  resize: vertical;
  width: 40%;
}

.close {
  float: right;
  font-size: 24px;
}

.button, .btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  border-color: red;
}

.primary {
  background-color: #007bff;
  color: white;
}

.secondary {
  background-color: #6c757d;
  color: white;
}

.danger {
  background-color: #dc3545;
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


/* Сетка для тем форума */
.topics-container {
  margin: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #dc3545;
  /* background-color: #dc3545; */
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.topic-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
}

.topic-card:hover {
  transform: scale(1.05);
}

.topic-card h3 {
  margin: 0;
}

.modal-content p {
  word-wrap: break-word;
}

