<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Вход</h1>
    <form id="login-form">
        <input type="text" id="username" placeholder="Имя пользователя" required><br>
        <input type="password" id="password" placeholder="Пароль" required><br>
        <button type="submit">Войти</button>
    </form>
    <script src="../js/auth.js"></script>
</body>
</html>
